/* reset */
body,p,a,ul,li {
	margin:0;
	padding: 0;
	text-decoration: none;
}

li {
	list-style-type: none;
}

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
  
	color-scheme: light dark;
	color: black;
	background-color: white;
  
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
  }

/* base styles */
body{
	overflow-x: hidden;
}

.icon {
	fill:black;
	height: 20px;
	width: 20px;
}


/* buttons */
.cart-button {
  background-color: #1899D6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: .5px;
  line-height: 10px;
  margin: 0;
  outline: none;
  overflow: hidden;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
}

.cart-button:after {
  background-clip: padding-box;
  background-color: #1CB0F6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.cart-button:main,
.cart-button:focus {
  user-select: auto;
}

.cart-button:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.cart-button:disabled {
  cursor: auto;
}

.quantity-button {
	display: flex;
	align-items: center;
	padding: 0;
	width: 100px;
}

.quantity-button button {
	margin: 0;
}

/* mobile styles */

.navbar {
	background-color: white;
	font-weight: bold;
	font-size: 1.5em;
	margin: 0 20px;
	padding: 10px;
	gap: 60px;
	color: black;
	align-items: center;
	justify-content: center;
	display: flex;
}

.left-item {
	order: 1;
	margin-right: auto;
}

.center-item {
	order: 2;
	text-align: center;
}

.right-item {
	order: 3;
	margin-left: auto;
}

.grid {
	display: grid;
	grid-template-columns: repeat(3,1fr);
}

.link {
	color: black;
	font-size: 0.8em;
}

.link:hover{
	color: grey;
}

.link:active {
	text-decoration: underline;
}

.feature-large {
	display: grid;
	align-items: center;
	justify-content: center;
  	grid-template-rows: 1fr;
  	height: 90vh;
}

.item-box {
	margin: 20px 20px;
	grid-column: span 3;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	font-size: 0.8em;
}

.item-box * {
	margin: 10px 20px;
}

.item-description {
	display: none;
}

.button-box {
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: space-between;
}

.item-picture img{
	display: block;
	margin: 0 auto;
	width:40%;
}

/* tablet */
@media screen and (min-width: 620px) {
	.item-box {
		grid-column: span 1;
	}

	.item-description {
		display: flex;
	}
}

/* desktop */
@media screen and (min-width: 960px){
	.link {
		font-size: 1em;
	}
}