/* reset */
body,p,a,ul,li {
	margin:0;
	padding: 0;
	text-decoration: none;
}

li {
	list-style-type: none;
}

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
  
	color-scheme: light dark;
	color: black;
	background-color: white;
  
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
  }

/* base styles */
body{
	overflow-x: hidden;
}

/* mobile styles */

.navbar {
	display: grid;
	background-color: white;
	font-weight: bold;
	font-size: 1.5em;
	margin: 0;
	padding: 10px;
	gap: 60px;
	color: black;
	align-items: center;
	justify-content: center;
	display: flex;
}

.grid {
	display: grid;
	grid-template-columns: repeat(3,1fr);
}

.link {
	color: black;
	font-size: 0.8em;
}

.link:hover{
	color: grey;
}

.link:active {
	text-decoration: underline;
}

.feature-large {
	display: grid;
	align-items: center;
	justify-content: center;
  	grid-template-rows: 1fr;
  	height: 90vh;
}

.item-box {
	display: grid;
	margin: 20px 20px;
	grid-column: span 3;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  	justify-content: center;
  	align-items: center;
}

.item-box * {
	margin: 20px 20px;
}

.item-description {
	display: none;
}

.button-box {
	display: flex;
	justify-content: space-between;
}

.item-picture img{
	display: block;
	margin: 0 auto;
	width:30%;
}

/* tablet */
@media screen and (min-width: 620px) {
	.item-box {
		grid-column: span 1;
	}

	.item-description {
		display: flex;
	}
}

/* desktop */
@media screen and (min-width: 960px){
	.link {
		font-size: 1em;
	}
}